<div class="page">
  <mat-toolbar color="primary" class="toolbar">
    <span>Receptes Könyv</span>
    <span class="search"
      ><input
        matInput
        type="text"
        placeholder="Keresés"
        [(ngModel)]="searchValue"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Keres"
        (click)="searchValue = ''"
      >
        <mat-icon>search</mat-icon>
      </button>
    </span></mat-toolbar
  >
  <app-home></app-home>
</div>
